<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Your Hostname</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/main.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/main.min.css" />
    </environment>
</head>
<body>
    <div class="main">
        <h1>@ViewData["title"]</h1>
        <hr />
        @RenderBody()
    </div>
    &copy;2015-2019 Joel May

    @RenderSection("Scripts", required: false)
    <environment include="Development">
        @RenderSection("DevelopmentScripts", required: false)
        @{ 
            IgnoreSection("ProductionScripts");
        }
    </environment>
    <environment exclude="Development">
        @RenderSection("ProductionScripts", required: false)
        @{ 
            IgnoreSection("DevelopmentScripts");
        }
    </environment>
</body>
</html>