@page
@model IndexModel
@{ 
    ViewData["title"] = "Homename+";
}
@section Scripts {
    <script type="text/javascript">
        var otherIpAPIURL = "@Model.OtherIpAPIURL";
        var otherIpType = "@Model.OtherIpType";
    </script>
    <script src="~/js/GetOtherIp.js"></script>
}

<h2>Hostname</h2>
<p>
    <div>@Model.HostName</div>
    <span id="OtherHostname"></span>
</p>
<h2>IP</h2>
<p>
    <div>@Model.IP</div>
    <span id="OtherAddress"></span>
</p>
<h2>User Agent</h2>
<p>
    <div>@Model.UserAgent</div>
</p>