@model HostnamePlus.Models.IndexModel
@{
    ViewData["title"] = "Hostname+";
    Layout = "~/Pages/_Layout.cshtml";
}
@section Scripts {
    <script>
        var otherIpAPIURL = "@Model.OtherIpAPIURL";
        var otherIpType = "@Model.OtherIpType";
    </script>
}
@section DevelopmentScripts {
    <script src="~/js/GetOtherIp.js"></script>
}
@section ProductionScripts {
    <script src="~/js/GetOtherIp.min.js"></script>
}

<h2 class="sectionHeading">Hostname</h2>
<span class='versionLabel'>@Model.IpType: </span>@Model.HostName<br />
<span id="OtherHostname"></span>

<h2 class="sectionHeading">IP</h2>
<span class='versionLabel'>@Model.IpType: </span>@Model.IP<br />
<span id="OtherAddress"></span>

<h2 class="sectionHeading">User Agent</h2>
@Model.UserAgent